.tag-selector-button i {
  color: $light-grey;
  font-size: 15px;
  margin-bottom: 10px;
}

.selector-scroll.tag {
  left: 100px;
}

.tag-item.selector {
  margin: 20px 250px 0 20px;
}

.tag-item.selector:last-child {
  margin-bottom: 30px;
}

.active-tag {
  background-color: $green;
  border-color: $green;
  color: $white;
}
